#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define COLEMAK 0
#define DEFAULT 1
#define SYM   2
#define NUM   3
#define NAV   4
#define ADJUST 5

// tapdance timing
#define TAPTERM 100

// additional caps word keys
&caps_word {
    continue-list = <UNDERSCORE MINUS LS(MINUS) UP DOWN LEFT RIGHT BSPC DEL>;
};

// faster layertap
&lt {
    quick-tap-ms = <0>;
    tapping-term-ms = <150>;
};

// faster modtap
&mt {
    tapping-term-ms = <200>;
};

/ {

    macros {
        // undead `
        ud_grave: ud_grave {
            label = "UNDEAD_GRAVE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp GRAVE &kp SPACE>;
        };

        // undead ~
        ud_tilde: ud_tilde {
            label = "UNDEAD_TILDE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp TILDE &kp SPACE>;
        };

        // undead ^
        ud_caret: ud_caret {
            label = "UNDEAD_CARET";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp CARET &kp SPACE>;
        };

        // undead '
        ud_sqt: ud_sqt {
            label = "UNDEAD_SINGLE_QUOTE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp SQT &kp SPACE>;
        };

        // undead "
        ud_dqt: ud_dqt {
            label = "UNDEAD_DOUBLE_QUOTE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings = <&kp LS(SQT) &kp SPACE>;
        };

    };

    combos {
        compatible = "zmk,combos";

        gm_capsword {
            bindings = <&caps_word>;
            // caps on G+M
            key-positions = <28 29>;
        };

        sticky_adjust {
            bindings = <&sl 5>;
            // sticky adjust layer on LALT+RALT
            key-positions = <51 56>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            label = "Colemak";
            bindings = <
                         &kp N1  &kp N2    &kp N3    &kp N4       &kp N5                                          &kp N6    &kp N7     &kp N8   &kp N9    &kp N0
                &kp TAB   &kp Q   &kp W     &kp F     &kp P        &kp B                                           &kp J     &kp L      &kp U    &kp Y  &kp SEMI        &kp BSPC
&kp ESC       &kp LCTRL   &kp A   &kp R     &kp S     &kp T        &kp G                                           &kp M     &kp N      &kp E    &kp I     &kp O   &kp BACKSPACE  &kp RC(RA(F13))
         &mt LSHFT LBRC   &kp Z   &kp X     &kp C     &kp D        &kp V  &kp C_MUTE     &kp C_PP                  &kp K     &kp H  &kp COMMA  &kp DOT   &mo NAV  &mt RSHFT RBRC
                                         &kp LGUI  &kp LALT  &lt SYM BSPC &kp SPACE    &kp ENTER    &lt NUM ESC &kp RALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        qwerty_layer {
            label = "QWERTY";
            bindings = <
                &trans  &trans  &trans  &trans  &trans                    &trans  &trans     &trans   &trans    &trans
        &trans   &kp Q   &kp W   &kp E   &kp R   &kp T                     &kp Y   &kp U      &kp I    &kp O     &kp P  &trans
&trans  &trans   &kp A   &kp S   &kp D   &kp F   &kp G                     &kp H   &kp J      &kp K    &kp L  &kp SEMI  &trans  &trans
        &trans   &kp Z   &kp X   &kp C   &kp V   &kp B  &trans    &trans   &kp N   &kp M  &kp COMMA  &kp DOT    &trans  &trans
                                &trans  &trans  &trans  &trans    &trans  &trans  &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        sym_layer {
            label = "Symbols";
            bindings = <
                      &kp F1     &kp F2     &kp F3     &kp F4  &kp F5                    &kp F6     &kp F7    &kp F8    &kp F9   &kp F10
        &kp LA(F4)    &trans   &kp BSLH  &kp PRCNT   &kp DLLR  &trans                    &trans  &ud_caret  &kp LBRC  &kp RBRC    &trans  &kp F11
&trans      &trans  &kp STAR   &kp LPAR   &kp RPAR  &kp COLON  &trans                    &trans    &ud_dqt  &kp LBKT  &kp RBKT  &kp SEMI   &trans  &trans
            &trans    &trans  &ud_grave     &kp AT   &kp AMPS  &trans  &trans    &trans  &trans   &kp HASH    &kp LT    &kp GT    &trans   &trans
                                            &trans     &trans  &trans  &trans    &trans  &trans     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        num_layer {
            label = "Numbers";
            bindings = <
                   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6    &kp F7     &kp F8     &kp F9  &kp F10
        &trans     &trans  &kp N4  &kp N5  &kp N6  &trans                    &trans  &kp PIPE  &kp UNDER  &kp SLASH   &trans  &kp F11
&trans  &trans    &kp DOT  &kp N1  &kp N2  &kp N3  &trans                    &trans   &ud_sqt  &kp MINUS  &kp EQUAL   &kp DEL  &trans  &trans
        &trans  &ud_tilde  &kp N7  &kp N8  &kp N9  &trans  &trans    &trans  &trans  &kp PLUS  &kp QMARK   &kp EXCL   &mo NAV  &trans
                                   &trans  &trans  &kp N0  &trans    &trans  &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
        };

        nav_layer {
            label = "Navigation";
            bindings = <
                &trans    &trans    &trans   &trans  &trans                              &trans     &trans        &trans           &trans  &trans
        &trans  &kp LC(Q) &kp LC(W) &kp LC(F) &kp LC(P) &kp LC(B)                    &caps_word    &kp INS     &kp PSCRN  &kp PAUSE_BREAK  &trans  &trans
&trans  &trans  &kp LC(A) &kp LC(R) &kp LC(S) &kp LC(T) &kp LC(G)                      &kp LEFT   &kp DOWN        &kp UP        &kp RIGHT  &trans  &trans  &trans
        &trans  &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(D) &kp LC(V)  &trans    &trans    &kp HOME  &kp PG_DN     &kp PG_UP          &kp END  &trans  &trans
                                       &trans    &trans    &trans  &trans    &trans      &trans     &trans        &trans
            >;
        };

        adjust_layer {
            label = "Adjust";
            bindings = <
                          &trans        &trans        &trans        &trans        &trans                    &trans      &trans      &trans        &trans  &trans
            &trans         &to 1        &trans        &trans        &trans        &trans                    &trans      &trans      &trans        &trans  &trans  &trans
&bt BT_CLR  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &bt BT_NXT  &bt BT_PRV  &out OUT_TOG  &trans  &trans  &trans
            &trans        &trans        &trans         &to 0        &trans        &trans  &trans    &trans  &trans      &trans      &trans        &trans  &trans  &trans
                                                      &trans        &trans        &trans  &trans    &trans  &trans      &trans      &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_PREV C_NEXT>;
        };
    };
};
